.Inner{
    margin: 5vh 5vw;
}
#HeaderBox{
    height: auto;
}
#Title{
    font-family: 'Bangers', cursive;
    font-size: 50px;
}
#UserBoard{
    float: right;
}
#UserBoard > *{
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 25px;
    transform: translateY(50%);
}
@media screen and (max-width: 768px){
    #UserBoard{
        float: left;
        transform: translate(-5%, -50%);
    }
    #UserBoard:first-child{
        margin-top: 20px;
    }
}

